@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* Inicio de navbar */
html{
  scroll-behavior: smooth;
}
.nav-bar {
    background-color: #E6F1F1;
    text-align: right;
    padding: 20px;
    font-weight: bolder;
  }
  
  .menu-icon {
    display: none;
    width: 30px;
    height: 20px;
    background: #000;
    cursor: pointer;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
}



  /* Fin de navbar */



  /* inicio de (home-contenedor) */

.home-contenedor{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 26px;
    background-color: #E6F1F1;
   
}

strong{
    color: #1EA8D3;

}
.home-contenedor    h1{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.btn-sobre-nosotros{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1EA8D3;
    box-shadow: 0px 0px 10px 4px rgb(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s all;
    font-size: 18px ;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    font-weight: bolder;

}
.btn-sobre-nosotros:hover{
    transform: scale(1.1);
    transition: 0.3s all;
}

/* fin de (home-contenedor) */

/* inicio de (card-acerca-de)*/
.card-acerca-de {
    margin: 250px auto;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    animation-name: slideIn2;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    margin-bottom: 190px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .card-contenedor {
    font-size: 20px;
    width: 40%;
    text-align: center;
    background-color: #E6F1F1;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px;
  }
  .card-contenedor:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 10px 4px #bad3d3;
  }

  

  .card-contenedor ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
    text-align: start;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto; 
}
  
  .card-contenedor li {
    margin-bottom: 10px;
    flex-basis: 33.33%;
  }
  .Descripcion-card {
    text-align: start;
  }
  
  .titulo-acerca-de, .titulo-card {
    text-align: center;
  }
  
/* fin de (card-acerca-de)*/

 



/* inicio de (integrantes-equipo) */
.integrantes-equipo {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.integrantes-equipo .titulo-equipo {
  width: 100%;
  text-align: center;
}

.cards-equipo {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;

}

.integrante-card {
  position: relative;
  width: 35%;
  height: 300px;
  padding: 10px;
  background-color: #E6F1F1;
  border-radius: 10px;
  padding-bottom: 27px;
  transition: 0.3s all;
  margin-bottom: 30px;

}
.integrantes-equipo .titulo-equipo{
  margin-bottom: 90px;
}
.integrante-card:hover {
  transition: 0.3s all;
  box-shadow: 0px 0px 10px 4px #becdcd;
}


.integrante-card .nombre{
  margin-top: 30px;
  text-align: center;
  font-size: 20px;

}

.integrante-card .email{
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}


.background {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background-color: #1EA8D3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.back-color2{
  background-color: #afd31e;

}
.back-color3{
  background-color: #d31e1e;
}
.back-color4{
  background-color: #301ed3;
}
.back-color5{
  background-color: #1ed3a6;
}



img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top:0;
  margin-top: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.habilidades{
  
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  font-size: 14px;
  gap: 15px;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  flex-wrap: wrap;
  
  color: rgb(0, 0, 0)


}

.habilidades .habilidad{
  background-color: #51b2cf;
  padding: 5px;
  border-radius: 10px;
}




/*Parte responsiva de la web*/
@media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
    
    .menu {
      display: none;
      text-align: center;
    }
    
    .menu li {
      display: block;
      margin: 10px 0;
    }
    
    .nav-bar.responsive {
      position: relative;
    }
    
    .nav-bar.responsive .menu-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
    
    .nav-bar.responsive .menu-icon:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform-origin: center;
      transition: transform 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon.open:before {
      transform: rotate(-45deg);
    }
    
    .nav-bar.responsive .menu-icon:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform-origin: center;
      transition: transform 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon.open:after {
      transform: rotate(45deg);
    }
    
    .nav-bar.responsive .menu-icon.open:before,
    .nav-bar.responsive .menu-icon.open:after {
      top: 50%;
      background-color: #fff;
    }
    
    .nav-bar.responsive .menu-icon.open:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .nav-bar.responsive .menu-icon.open:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .nav-bar.responsive .menu-icon:hover:before,
    .nav-bar.responsive .menu-icon:hover:after {
      background-color: #ccc;
    }
    
    .nav-bar.responsive .menu-icon:hover:before,
    .nav-bar.responsive .menu-icon:hover:after,
    .nav-bar.responsive .menu-icon.open:before,
    .nav-bar.responsive .menu-icon.open:after {
      transition: background-color 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon:hover {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open:hover {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open:hover:before,
    .nav-bar.responsive .menu-icon.open:hover:after {
      background-color: transparent;
    }
    
    .nav-bar.responsive .menu-icon.open:hover:before,
    .nav-bar.responsive .menu-icon.open:hover:after,
    .nav-bar.responsive .menu-icon.open:before,
    .nav-bar.responsive .menu-icon.open:after {
      transition: background-color 0.3s ease;
    }
    
    .nav-bar.responsive .menu-icon:hover,
    .nav-bar.responsive .menu-icon.open {
      transition: background-color 0.3s ease;
    }
    .card-contenedor {
      font-size: 16px;
      width: 90%;
      height: auto;
    }


    .cards-equipo {
      width: 100%;
      gap: 10px;
    }
    
    .integrante-card {
      width: 70%;
      height: 300px;
      font-size: 8px;
      margin-bottom: 30px;
      padding-bottom: 50px;
    }

    img{
      width: 70px;
      height: 70px;
      margin-top: 90px;
    }
    

    .integrante-card .nombre{
      font-size: 15px;
      margin-top: 50px;
    
    }
    
    .integrante-card .email{
      font-size: 10px;
      
    }

    .habilidades{
      font-size: 7px;
      width: 100%;
      gap: 3px;
    }
    
    .card-acerca-de{
      margin-top: 290px;
      margin-bottom: 290px;
    }
   
  }
  

  /*Animaciones que se usan*/
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes slideIn2 {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }


  